* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.admin-page {
  width: 100%;
  height: 100vh;
  background: #ecf0f1;
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
}

.admin-menu {
  background: #2d3436;
  padding-top: 2rem;
}

.admin-menu li {
  text-align: center;
  padding: 1rem;
}

.admin-menu button {
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
}

.search {
  float: right;
  padding: .5rem;
}